.scuff-theme-contrast-blocks {
    --scuff-block-font-fill: #000;
    --scuff-block-input-font-fill: #000;

    --scuff-block-category-motion-primary: #80b5ff;
    --scuff-block-category-looks-primary: #ccb3ff;
    --scuff-block-category-sound-primary: #e19de1;
    --scuff-block-category-event-primary: #ffd966;
    --scuff-block-category-control-primary: #ffbe4c;
    --scuff-block-category-sensing-primary: #85c4e0;
    --scuff-block-category-operator-primary: #7ece7e;
    --scuff-block-category-data-primary: #ffa54c;
    --scuff-block-category-list-primary: #ff9966;
    --scuff-block-category-more-primary: #ff99aa;
    --scuff-block-category-extension-primary: #13ecaf;
}