.scuff-block-text {
    fill: var(--scuff-font-fill);
    color: var(--scuff-font-fill);
    font-family: var(--scuff-block-font), Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    white-space: pre;
}

.scuff-input {
    cursor: text;
}

.scuff-block-empty {
    --scuff-bg-path-fill: var(--scuff-block-category-tertiary);
    --scuff-bg-path-stroke: none;
}

.scuff-block {
    --scuff-bg-path-fill: var(--scuff-block-category-primary);
    --scuff-bg-path-stroke: var(--scuff-block-category-tertiary);
    --scuff-font-fill: var(--scuff-block-font-fill);
    cursor: grab;
}

.scuff-block-input-square {
    cursor: default;
}

.scuff-block-input-round {
    cursor: default;
    --scuff-bg-path-fill: var(--scuff-block-category-secondary);
}

.scuff-block-ghost {
    --scuff-bg-path-fill: var(--scuff-block-ghost);
    --scuff-bg-path-stroke: transparent;
    --scuff-block-decor-light: transparent;
    --scuff-block-decor-dark: transparent;
}

.scuff-block-dragging {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.scuff-block-bg-path {
    fill: var(--scuff-bg-path-fill);
    transition: stroke 0.25s ease;
    stroke: var(--scuff-bg-path-stroke);
    transition: stroke-width 0.25s ease;
    stroke-width: var(--scuff-bg-path-stroke-width);
}

.scuff-input {
    --scuff-bg-path-fill: var(--scuff-block-input-bg);
    --scuff-font-fill: var(--scuff-block-input-font-fill);
}

.scuff-input-invalid {
    --scuff-bg-path-stroke: var(--scuff-block-input-stroke-invalid);
    stroke-width: 6px;
}

.scuff-input-selected {
    stroke-width: 3px;
}

.scuff-input-highlight {
    filter: url(#scuff-input-highlight);
}

input.scuff-input {
    padding: 0.1em 0 0.1em 0.1em;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    vertical-align: top;
}

.scuff-input::selection {
    background-color: var(--scuff-block-input-select);
}

.scuff-workspace-bg-main {
    fill: var(--scuff-workspace-bg-main);
    background-color: var(--scuff-workspace-bg-main);
}

.scuff-workspace-bg-dots {
    fill: var(--scuff-workspace-bg-dots);
}

.scuff-bg-decor-dark {
    fill: var(--scuff-block-decor-dark);
}

.scuff-bg-decor-light {
    fill: var(--scuff-block-decor-light);
}

.scuff-scrollbar-handle {
    fill: var(--scuff-scrollbar);
    transition: fill 0.1s ease;
    transition: fill-opacity 0.1s ease;
    fill-opacity: 80%;
}

.scuff-scrollbar-handle:hover {
    fill: var(--scuff-scrollbar-hover);
}

.scuff-scrollbar-handle-active {
    fill: var(--scuff-scrollbar-hover);
    fill-opacity: 100%;
}