.scuffr-workspace {
    width: 100%;
    height: 100%;
}

.scuff-block-text {
    fill: var(--scuff-font-fill);
    color: var(--scuff-font-fill);
    font-family: var(--scuff-block-font), Helvetica, sans-serif;
    font-size: var(--scuff-block-font-size);
    font-weight: var(--scuff-block-font-weight);
    white-space: pre;
}

.scuff-input {
    cursor: text;
}

.scuff-block-empty {
    --scuff-bg-path-fill: var(--scuff-block-category-tertiary);
    --scuff-bg-path-stroke: none;
}

.scuff-block {
    --scuff-bg-path-fill: var(--scuff-block-category-primary);
    --scuff-bg-path-stroke: var(--scuff-block-category-tertiary);
    --scuff-font-fill: var(--scuff-block-font-fill);
    cursor: grab;
}

.scuff-block-input-square {
    cursor: default;
}

.scuff-block-input-round {
    cursor: default;
    --scuff-bg-path-fill: var(--scuff-block-category-secondary);
}

.scuff-block-ghost {
    --scuff-bg-path-fill: var(--scuff-block-ghost);
    --scuff-bg-path-stroke: transparent;
    --scuff-block-decor-light: transparent;
    --scuff-block-decor-dark: transparent;
}

.scuff-block-dragging {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.scuff-block-bg-path {
    fill: var(--scuff-bg-path-fill);
    transition: stroke 0.25s ease;
    stroke: var(--scuff-bg-path-stroke);
    transition: stroke-width 0.25s ease;
    stroke-width: var(--scuff-bg-path-stroke-width);
}

.scuff-input {
    --scuff-bg-path-fill: var(--scuff-block-input-bg);
    --scuff-font-fill: var(--scuff-block-input-font-fill);
}

.scuff-input-invalid {
    --scuff-bg-path-stroke: var(--scuff-block-input-stroke-invalid);
    stroke-width: 6px;
}

.scuff-input-selected {
    stroke-width: 3px;
}

.scuff-input-highlight {
    filter: url(#scuff-input-highlight);
}

input.scuff-input {
    padding: 0.1em 0 0.1em 0.1em;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    vertical-align: top;
}

.scuff-input::selection {
    background-color: var(--scuff-block-input-select);
}

.scuff-workspace-bg-main {
    fill: var(--scuff-workspace-bg-main);
    background-color: var(--scuff-workspace-bg-main);
}

.scuff-workspace-bg-dots {
    fill: var(--scuff-workspace-bg-dots);
}

.scuff-bg-decor-dark {
    fill: var(--scuff-block-decor-dark);
}

.scuff-bg-decor-light {
    fill: var(--scuff-block-decor-light);
}

.scuff-scrollbar-handle {
    fill: var(--scuff-scrollbar);
    transition: fill 0.1s ease;
    transition: fill-opacity 0.1s ease;
    fill-opacity: 80%;
}

.scuff-scrollbar-handle:hover {
    fill: var(--scuff-scrollbar-hover);
}

.scuff-scrollbar-handle-active {
    fill: var(--scuff-scrollbar-hover);
    fill-opacity: 100%;
}

.scuff-dropdown {
    transition: transform 0.25s ease 0s, opacity 0.25s ease 0s;
    transform: translate(0px, 0px);
    --scuff-block-font-weight: bold;
    --scuff-block-font-size: 13px;
    --scuff-font-fill: var(--scuff-block-font-fill);
}

.scuff-dropdown-container {
    width: 100%;
    height: 100%;
}

.scuff-dropdown-option-container {
    height: 100%;
    overflow-y: scroll;
}

.scuff-dropdown-search {
    height: 32px;
    border: 1px solid var(--scuff-block-category-tertiary);
    border-radius: 2px;
    background-color: var(--scuff-block-category-secondary);
    outline: none;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 28px;
}

.scuff-dropdown-item {
    padding: 4px 91px 4px 0;
    min-height: 24px;
}

.scuff-dropdown-item-highlight {
    background-color: var(--scuff-block-category-tertiary);
}

.scuff-dropdown-item>svg {
    width: 14px;
    height: 14px;
    padding-left: 7px;
    padding-right: 7px;
    translate: 0 4px;
}

.scuff-dropdown-bg-path {
    fill: var(--scuff-block-category-primary);
    stroke: var(--scuff-block-category-tertiary);
    stroke-width: var(--scuff-bg-path-stroke-width);
}

.scuff-context-menu {
    position: absolute;
    transition: transform 0.25s ease 0s, opacity 0.25s ease 0s;
    transform: translate(0px, 0px);
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
}

.scuff-context-menu-bg-path {
    fill: var(--scuff-context-menu-background);
    stroke: var(--scuff-context-menu-stroke);
    stroke-width: var(--scuff-bg-path-stroke-width, 1px);
}

.scuff-context-menu-block {
    --scuff-context-menu-background: var(--scuff-block-category-primary);
    --scuff-context-menu-stroke: var(--scuff-block-category-tertiary);
    --scuff-context-menu-selection: var(--scuff-block-category-tertiary);
    --scuff-context-menu-text: var(--scuff-block-font-fill);

}

.scuff-context-menu-container {
    width: 100%;
    height: 100%;
    --scuff-block-font-size: 13px;
    --scuff-font-fill: var(--scuff-context-menu-text);
}

.scuff-context-menu-item {
    padding: 4px 28px;
    height: 16px;
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    color: var(--scuff-context-menu-text);
}

.scuff-context-menu-item>div {
    width: min-content;
}

.scuff-context-menu-item-submenu {
    padding: 4px 12px 4px 28px;
}

.scuff-context-menu-item-submenu>p {
    margin: 0 0 0 auto;
    font-weight: bold;
}

.scuff-context-menu-item-disabled {
    color: var(--scuff-context-menu-stroke);
}

.scuff-context-menu-divider {
    padding: 2px 0px 5px 0;
}

.scuff-context-menu-divider>hr {
    margin: 0;
    height: 1px;
    color: var(--scuff-context-menu-stroke);
    background-color: var(--scuff-context-menu-stroke);
    border: none;
}

.scuff-context-menu-item:hover {
    background-color: var(--scuff-context-menu-selection);
}

.scuff-context-menu-item-disabled:hover {
    background-color: transparent;
}

.scuff-palette-background {
    fill: var(--scuff-palette-background);
    stroke-width: 1;
    stroke: var(--scuff-scrollbar);
}

.scuff-palette-text {
    --scuff-font-fill: var(--scuff-workspace-text-secondary);
    --scuff-block-font-weight: bold;   
}