.scuff-block-category-motion {
    --scuff-block-category-primary: var(--scuff-block-category-motion-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-motion-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-motion-tertiary);
}

.scuff-block-category-looks {
    --scuff-block-category-primary: var(--scuff-block-category-looks-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-looks-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-looks-tertiary);
}

.scuff-block-category-sounds {
    --scuff-block-category-primary: var(--scuff-block-category-sounds-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-sounds-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-sounds-tertiary);
}

.scuff-block-category-events {
    --scuff-block-category-primary: var(--scuff-block-category-events-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-events-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-events-tertiary);
}

.scuff-block-category-control {
    --scuff-block-category-primary: var(--scuff-block-category-control-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-control-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-control-tertiary);
}

.scuff-block-category-sensing {
    --scuff-block-category-primary: var(--scuff-block-category-sensing-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-sensing-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-sensing-tertiary);
}

.scuff-block-category-operators {
    --scuff-block-category-primary: var(--scuff-block-category-operators-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-operators-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-operators-tertiary);
}


.scuff-block-category-data {
    --scuff-block-category-primary: var(--scuff-block-category-data-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-data-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-data-tertiary);
}

.scuff-block-category-list {
    --scuff-block-category-primary: var(--scuff-block-category-list-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-list-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-list-tertiary);
}

.scuff-block-category-more {
    --scuff-block-category-primary: var(--scuff-block-category-more-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-more-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-more-tertiary);
}

.scuff-block-category-extension {
    --scuff-block-category-primary: var(--scuff-block-category-extension-primary);
    --scuff-block-category-secondary: var(--scuff-block-category-extension-secondary);
    --scuff-block-category-tertiary: var(--scuff-block-category-extension-tertiary);
}