.scruff-theme-default {
    --scruff-block-category-motion-primary: #4c97ff;
    --scruff-block-category-motion-secondary: #4280d7;
    --scruff-block-category-motion-tertiary: #3373cc;

    --scruff-block-category-looks-primary: #9966ff;
    --scruff-block-category-looks-secondary: #855cd6;
    --scruff-block-category-looks-tertiary: #774dcb;

    --scruff-block-category-sounds-primary: #cf63cf;
    --scruff-block-category-sounds-secondary: #c94fc9;
    --scruff-block-category-sounds-tertiary: #bd42bd;

    --scruff-block-category-events-primary: #ffbf00;
    --scruff-block-category-events-secondary: #e6ac00;
    --scruff-block-category-events-tertiary: #cc9900;

    --scruff-block-category-control-primary: #ffab19;
    --scruff-block-category-control-secondary: #ec9c13;
    --scruff-block-category-control-tertiary: #cf8b17;

    --scruff-block-category-sensing-primary: #5cb1d6;
    --scruff-block-category-sensing-secondary: #47a8d1;
    --scruff-block-category-sensing-tertiary: #2e8eb8;

    --scruff-block-category-operators-primary: #59c059;
    --scruff-block-category-operators-secondary: #46b946;
    --scruff-block-category-operators-tertiary: #389438;

    --scruff-block-category-data-primary: #ff8c1a;
    --scruff-block-category-data-secondary: #ff8000;
    --scruff-block-category-data-tertiary: #db6e00;

    --scruff-block-category-list-primary: #ff661a;
    --scruff-block-category-list-secondary: #ff5500;
    --scruff-block-category-list-tertiary: #e64d00;

    --scruff-block-category-more-primary: #ff6680;
    --scruff-block-category-more-secondary: #ff4d6a;
    --scruff-block-category-more-tertiary: #ff3355;

    --scruff-block-category-extension-primary: #0fbd8c;
    --scruff-block-category-extension-secondary: #0da57a;
    --scruff-block-category-extension-tertiary: #0b8e69;
}