body {
    margin: 0;
    overflow: hidden;
}

.scuff-block-text {
    fill: var(--scuff-block-font-fill);
    font-family: var(--scuff-block-font), Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    white-space: pre;
}

.scuff-block-input {
    padding: 0.1em 0 0.1em 0.1em;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    vertical-align: top;
}

.scuff-workspace-bg-main {
    fill: var(--scuff-workspace-bg-main);
    background-color: var(--scuff-workspace-bg-main);
}

.scuff-workspace-bg-dots {
    fill: var(--scuff-workspace-bg-dots);
}