
.scruff-theme-default {
	--scruff-workspace-bg-main: #111;
	--scruff-workspace-bg-dots: #333;
	--scruff-workspace-text: #f9f9f9;
	
	--scruff-block-font: "Helvetica Neue";
	--scruff-block-font-fill: #ffffff;
	
	--scruff-block-input-bg: #ffffff;
	--scruff-block-input-font-fill: #575E75;
	--scruff-block-input-select: #4d97ff40;
}

.scruff-theme-light {
	--scruff-workspace-bg-main: #f9f9f9;
	--scruff-workspace-bg-dots: #ddd;
	--scruff-workspace-text: #111;
}